bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
*.nupkg
*.snupkg
project.lock.json
artifacts/
TestResults/
*.wsb
*.msi
*.exe
!scripts/**
!exe/
!exe/*.exe
profiles/**/data/
.idea/
*.DotSettings.user
msbuild.binlog
publish/
dist/
